* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/* HEADER */

header {
  width: 100%;
  height: 1018px;
}

.container-80 {
  width: 80%;
  height: 200px;
  margin: 0 auto;
}

.container{
 width: 100%;
 margin: auto;
}

.menu-inline li {
 display: inline-block;
 font-size: 12px;
}

.header-top {
 line-height: 60px;
 height: 60px;
 position: relative;
}


.header-top::after {
 content: "";
 clear: both;
 display: block;
}

.header-top-logo {
 width: 15%;
 height: 100%;
 float: left;
 /* padding-top: 5px; */
}

.header-logo {
  height: 70%;
  vertical-align: middle;
}

.header-top-nav-left {
 float: left;
 width: 40%;
;
}

.menu-inline {
 list-style: none;
 color: black;
}

.menu-inline li {
  display: inline-block;
  padding: 0 5px;
  font-size: 12px;
}

.header-top-nav-right {
 float: right;
 width: 30%;
 text-align: right;
}

.header-top li {
 margin: 0px 10px;
}

.header-top li a{
 text-decoration: none;
 text-transform: uppercase;
 font-size: 15px;
 color: black;
}

.login{
 margin: 7px;
 padding: 15px;
 border-radius: 5px;
 background-color: #fff;
 color: black;
 border: 2px solid #fff;
}

.button-signup {
  margin: 10px;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 5px;
  background-color: #234561;
  text-decoration: none;
}


/*hero section*/

.wrapper-hero {
  height: 600px;
}

.container-hero {
  position: relative;
  height: 100%;
  background-image: url(../img/cross-2.png);
}

.container-hero::after {
  content: "";
  clear: both;
  display: table;
}

.hero-text {
  margin: 50px;
  padding: 30px;
  width: 50%;

}

.hero-text h1 {
  font-size: 50px;
}

.hero-text p {
  font-size: 18px;
  margin-top: 20px;
}

.button-hero {
 padding: 20px;
 margin: 20px;
}
/* MAIN */

.container-header {
  background-color: red;
  width: 100%;
  height: 200px;
}

.header-text {
 padding: 60px;
 text-align: center;
}

.header-text h1{

}

/*COLONNE*/

.container-col {
  width: 100%;
  height: 100%;
  background-color: green;
  position: relative;
}

.contaier-col::after {
  content: "";
  display: table;
  clear: both;
}

.col-1{
 float: left;
 width: 33%;
 height: 80px;
 background-color: white;
}

.box-1 {
 background-color: white;
 text-align: center;
}

.col-2 {
 float: left;
 width: 33%;
 height: 80px;
 background-color: white;
}

.box-2 {
background-color: white;
margin: auto;
width: auto;
height: auto;
text-align: center;
}

.col-3 {
float: left;
width: 33%;
height: 80px;
background-color: white;
}

.box-3 {
background-color: white;
margin: auto;
width: auto;
height: auto;
text-align: center;
}

/*MAIN*/

main {
background-color: black;
width: 200px;
height: 200px;

}
