* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/* HEADER */

header {
 height: 400px;
 background-color:#fff;
}

.container{
 width: 100%;
 margin: auto;
}

.menu-inline li {
 display: inline-block;
 font-size: 12px;
}

.header-top {
 line-height: 60px;
 position: relative;
 margin: 20px;
}


.header-top::after {
 content: "";
 clear: both;
 display: block;
}

.header-top-logo {
 width: 20%;
 float: left;
 padding-top: 5px;
}

.header-logo {
 width: 40%;
}

.header-top-nav-left {
 float: left;
 width: 40%;
 margin-bottom: 30px;
 text-align: center;
}

.menu-inline {
 list-style: none;
 color: black;
}

.menu-inline li {
  display: inline-block;
  padding: 0 5px;
  font-size: 12px;
}

.header-top-nav-right {
 float: right;
 width: 30%;
 text-align: right;
}

.header-top li {
 margin: 0px 10px;
}

.header-top li a{
 color: black;
 text-decoration: none;
 text-transform: uppercase;
}

.login{
 margin: 4px 2px;
 padding: 5px 8px;
 border-radius: 5px;
 background-color: #fff;
 color: black;
 border: 2px solid #fff;
}

.button-login {
  margin: 4px 2px;
  border: none;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #23527c;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}


/*hero section*/
.container-hero {
  position: relative;
}

.container-hero::after {
  content: "";
  clear: both;
  display: table;
}

.hero-left {
 margin-left: 50px;
 width: 50%;
 float: left;
}

.hero-right {
  width: 50%;
  float: right;
}

.hero-right-img {
  width: 400px;
  height: 400px;
}
